
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Poppins:wght@100&display=swap');

body {
    background-color: white ;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    background-color: #B5CEE9;
    height: 30px;
}

.container {
    background-color: #ECF3F9;
    padding: 20px;
    position: absolute;
    width: 744px;
    height: 357px;
    left: 256px;
    top: 150px;
    border: 1px solid #F6F9FD;
    border-radius: 52px;
}

#button {
    background-color:#DAE7F4;
    width: 143.94px;
    height: 48.2px;
    left: 605.92px;
    
}
